<style>
.diabled-class{
	background-color:green;
	color:white;
}
</style>
<!-- This one does not need accordions!!!-->
<div layout="column">
		<div layout="row" style = "max-height:53px;">
  		<div flex="33" style = "height:100%; and overflow:auto;">
				<md-button ng-click = "toggleAddVmModal()">
					+ VM
				</md-button>
				<md-button ng-click = "restore()">
					Restore
				</md-button>
				<md-button ng-click = "toggleAddCloneModal()">
					Clone
				</md-button>
			</div>
  		<div flex="50"style = "height:100%; and overflow:auto;"></div>
  		<div flex="17"style = "height:100%; and overflow:auto;">
				<md-input-container>
					<label>Search</label>
					<input ng-model="search">
				</md-input-container>
			</div>
		</div>
	<div layout="row" layout-wrap>
		<md-toolbar class="md-warn" >
		  <div class="md-toolbar-tools" layout="row" layout-align="center center">
		    <h2 class="md-flex">Virtual Machines</h2>
		  </div>
		</md-toolbar>
		
		<md-content flex layout-padding>
			<md-list-item>
				<p> Workshop Group A</p>
				<div flex="33"style = "height:100%; and overflow:auto;"></div>
				<p> 2 </p>
				<p>172.123.213.2</p>
			  <md-checkbox class="md-secondary"></md-checkbox>
			</md-list-item>
		</md-content>
	</div>
</div>
