<style>
.diabled-class{
	background-color:green;
	color:white;
}
</style>
<!-- needs accordion-->
<div layout="column">
		<div layout="row" style = "max-height:53px;">
  		<div flex="33" style = "height:100%; and overflow:auto;">
				<md-button ng-click = "toggleAddWgModal()">
					+ Unit
				</md-button>
				<md-button ng-click = "">
					Import
				</md-button>
				<md-button ng-click = "">
					Export
				</md-button>
				<md-button ng-click = "">
					Delete
				</md-button>
				<md-button ng-click = "">
					Restore
				</md-button>
				<md-button ng-click = "">
					Clone
				</md-button>
			</div>
  		<div flex="50"style = "height:100%; and overflow:auto;"></div>
  		<div flex="17"style = "height:100%; and overflow:auto;">
				<md-input-container>
					<label>Search</label>
					<input ng-model="search">
				</md-input-container>
			</div>
		</div>
	<div layout="row" layout-wrap>
		<md-toolbar class="md-warn" >
		  <div class="md-toolbar-tools" layout="row" layout-align="center center">
		    <h2 class="md-flex">Workshop Units</h2>
		  </div>
		</md-toolbar>
		
		<md-content flex layout-padding>
			<uib-accordion close-others="oneAtATime">
				<div uib-accordion-group class="panel-default" ng-repeat = "wu in workshop_unit" >
					<uib-accordion-heading ng-click = "">
						<md-list-item>
							<p> Workshop Unit A</p>
							<div flex="33"style = "height:100%; and overflow:auto;"></div>
							<p> 2 </p>
							<p>172.123.213.2</p>
							<p>Active</p>
						  <i class=" material-icons"><span class = "white-text">brightness_3</span></i>
						</md-list-item>
					</uib-accordion-heading>
					<secion layout = "row">
						<table class="table" flex>
					    <tbody>
					      <tr>
									<th>Description</th>
									<th>Port</th>
									<th>Network Adapter</th>
								</tr>
					      <tr>
									<td>
										Description of Workshop Group A 
									</td>
								</tr>
					      <tr>
									<th>Virtual Machines</th>
								</tr>
					      <tr>
									<td>
										VM1
									</td>
									<td>
										1243
									</td>
									<td>
										networkadapterex2
									</td>
								</tr>
								<tr>
									<th>Select</th>
					      </tr>
								<tr>
									<td>
										<md-checkbox class = "md-warn" ng-model="isSelected()">
										</md-checkbox>
									</td>
								</tr>
					    </tbody>
					  </table>
					</section>
			  </div>
			</uib-accordion>
		</md-content>
	</div>
</div>