<style> 
.md-datepicker-calendar-pane{ z-index: 1200}
.md-select-menu-container {z-index: 1200;}

</style>
<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
  <label>Clone</label>
</md-content>
<md-content layout-padding>
	<form name="">
			<div layout-gt-sm = "column">
				<md-input-container class="md-block" layout-gt-sm="row">
	      	<label>No. Clones</label>
	        <input ng-model="">
				</md-input-container>
	      <md-input-container class="md-block" layout-gt-sm="row">
	        <label>VRDP Seed</label>
	        <input ng-model="">
	      </md-input-container>
	      <md-input-container class="md-block" layout-gt-sm="row">
	        <label>Netwrok Adapter Name</label>
	        <input ng-model="">
	      </md-input-container>
	      <md-input-container class="md-block" layout-gt-sm="row">
	        <label>Network Adapter Name</label>
	        <input ng-model="">
	      </md-input-container>
			</div>
	</form>
	<div>
 		<md-button ng-click ="">
	 		Clone
		</md-button>
		<md-button ng-click = "">
			Cancel
		</md-button>
	</div>
</md-content>